@font-face {
    font-family: headerfont;
    src: url(./headerfont.ttf);
}

:root {
    --fs-1000: 10rem;
    --fs-700: 2rem;
    --fs-500: 1rem;
    --text: rgb(245, 245, 245);
    --black: #1A120B;
    --brown: #3C2A21;
    --beige: #D5CEA3;
    --light-beige: #E5E5CB;
}

hr {
    border-style: none none solid;
    height: 3px;
    border-radius: 10px; 
    color: var(--beige); 
    background-color: var(--beige);
}

button {
    border: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-rows: 10vh max-content auto;
}

body::before {
    background-color: rgb(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    content: "";
    position: fixed;
    z-index: -20;
    display: block;
    filter: grayscale(0%);
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: var(--black);
    position: sticky;
    align-items: center;
    -webkit-box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 1);
}

h1 {
    font-family: headerfont;
    color: var(--black);
    margin: none;
    padding: 0.3rem 1rem;
    background-color: var(--light-beige);
    border-radius: 10px;

}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img {
    height: 60px;
    width: auto;
}

.navbar {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 9rem;
    gap: var(--fs-500);
}

.navbar button {
    border: none;
    font-size: var(--fs-700);
    background-color: rgba(245, 222, 179, 0);
    color: var(--light-beige);
}

.navbar button:hover {
    color: var(--beige);
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20vh;
    gap: 1rem;
    height: 70vh;
}

.home h2 {
    color: var(--light-beige);
    font-size: var(--fs-1000);
    font-family: headerfont;
    font-weight: 500;
    padding: 0;
    margin: 0;
    text-shadow: 0px 0px 100px rgba(213, 206, 163, 0.6);
}

.home button {
    background-color: var(--beige);
    color: var(--brown);
    font-size: var(--fs-700);
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 20rem;
    -webkit-box-shadow: 0px 0px 17px -5px rgba(213, 206, 163, 1);
    -moz-box-shadow: 0px 0px 17px -5px rgba(213, 206, 163, 1);
    box-shadow: 0px 0px 17px -5px rgba(213, 206, 163, 1);

}

.home button:hover {
    background-color: var(--brown);
    color: var(--beige);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: all 0.2s ease-in-out;
}

.footer {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    justify-items: center;
    text-align: center;
    background-color: var(--black);
    color: var(--light-beige);
    padding: 2rem 0;
}

.footer h3 {
    margin: 0;
    padding: 0;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 min(10vw, 30rem);
    height: 100%;
}

.contact img {
    width: 100%;
    height: auto;
}

.info {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info div {
    text-align: center;
}

.map {
    background-color: var(--beige)
}

.menu {
    height: 100vh;
    color: var(--beige)
}

.menu h4 {
    padding: 0;
    margin: 0;
    font-size: 2rem;

}

.menu-tiles {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
    justify-content: center;
}

.menu-tiles div {
    display: flex;
    text-align: center;
    padding: 1rem;
}

.menu-tiles img {
    border-radius: 20px;
    height: 400px;
    width: 300px;
}